---
import HeaderButtom from "../components/HeaderButtom.astro";
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
    <div class="flex items-center justify-center h-screen bg-gray-200">
        <div class="text-center">
            <h1 class="text-6xl font-semibold text-gray-700">404</h1>
            <p class="text-gray-500">Lo sentimos, la página que estás buscando no se pudo encontrar.</p>
            <HeaderButtom  ="/">Volver al inicio</HeaderButtom>
            <img src="https://image.freepik.com/free-vector/error-404-with-funny-mouses-banner_18591-532.jpg" alt="Imagen cómica de error 404">
        </div>
    </div>
</Layout>